@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    font-family: sans-serif;
    /* background: linear-gradient(104deg, #204B66, #00324a); */
    /* background-size: cover; */
    /* background-image: url('https://cdn.99images.com/photos/wallpapers/creative-graphics/marvel-villains-laptop%20android-iphone-desktop-hd-backgrounds-wallpapers-1080p-4k-16tjy.jpg'); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .table-container{
    display: flex;
    justify-content: center;
    margin:auto;
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
  }
  nav {
    
    position: sticky;

}

  table{
    width: 100%;
    box-shadow: 15px 15px #cdcecdf4;
    border-collapse: collapse;
  }

  tr:nth-of-type(odd){
    background-color: #fff;
    color: #000000;
  }
  tr:nth-of-type(even){
    background-color: rgba(204, 200, 200, 0.922);
    color: #009879;
  }

  th{
    background-color: #009879;
    color: #fff;
    font-weight: 800;
    font-size: 20px;
  }

  td,th{
    padding: 1px;
    border: 1px solid rgb(14, 13, 13);
    text-align: center;
  }

  .label{
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
  }
  .label-success{
    background-color: #5cb85c;
  }

  .label-warning{
    background-color: #f0ad4e;
  }

  .label-danger{
    background-color: #d9534f;
  }

  .btn{
    color: #fff;
    background-color: #37BC9B;
    font-size: 13px;
    padding: 5px 8px;
    border: none;
    border-radius: 2px;
    transition: all 0.3s ease;
    text-decoration: none;
  }
  .btn:hover{
    background-color: #2e9c81;
  }
#btn1{
  margin-left: 25%;
  margin-top:-20%;
}
#btn2{
  margin-left:10%;
}

  #img{
    width: 100%;
height: 100%;
/* object-fit: cover; */
background-size: cover;
background: fixed;
  }
  .heading{
  margin-top: 5%;
  margin-left: 20%;
  margin-bottom:-5%;
  
  }

  @media only screen and (max-width:768px),
  (min-device-width:768px) and (max-device-width:992px){
    .table-container{
      font-size: 16px;
      width:95%;
      background: transparent;
    }

    table,
    thead,
    tbody,
    th,
    td,
    tr{
      display: block;
    }

    thead tr{
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr{
      border: 1px solid #ccc;
      margin-bottom: 10px;
    }

    td{
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
      padding-right: 10px;
      text-align: start;
    }

    td>p{
      max-width: 100%;
      overflow-wrap: break-word;
    }

    td::before{
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      font-size: 16px;
      font-weight: 600;
      text-align: left;
    }
    td:nth-of-type(1)::before{
      content:"SL NO";
    }
    td:nth-of-type(2)::before{
      content:"Name";
    }
    td:nth-of-type(3)::before{
      content:"Email Id";
    }
    td:nth-of-type(4)::before{
      content:"Phone Number";
    }
    .header{
      font-size: 10px ;
    }

  }
